body {
    background-color: rgb(55,55, 55);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3{
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
    padding-right: 1.5em;
    font-weight: 600;
}
td{
    font-weight: 100;
}

main {
    background-color: rgb(90,90,90);
    border-radius: 20px;
    margin: 1em;
    padding: 1em;
}

nav {
    margin-bottom: 3em;
}

nav a {
    font-size: xx-large;
    color: white;
    text-decoration: none;
    margin-right: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
    padding-bottom: 0.1em;
}


nav a:hover {
    color: orange;
    border-bottom-width: 5px;
    border-bottom-color: orange;
    border-bottom-style:solid;
}

.select {
    border-bottom-width: 5px;
    border-bottom-color: white;
    border-bottom-style:solid;
}

section {
    background-color: rgb(55,55, 55);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2.5em;
    margin: 2em;
    margin-bottom: 3.5em;
    border-radius: 20px;
}

a:hover .proj{
    border: 2px solid orange;
}

.proj{
    display: flex;
}


div {
    margin-right: 2.5em;
    min-width: 630px;
    max-width: 770px;
}

.projetPart{
    padding-right: 2.5em;
}


a{
    text-decoration: none;
    color: inherit;
}

a:hover h2{
    text-decoration: underline;
}

a:hover{
    color: orange;
}

